.noUiSlider {
	width:					200px;
	border: 3px double #bbb;
	height:					8px;
	background:				#EEE;
	-webkit-touch-callout:	none;
}
.noUi-midBar {
	height:					100%;
	z-index:				0;
	background:				#999;
	-webkit-touch-callout:	none;
}
.noUi-handle > div {
	position:				absolute;
	width:					16px;
	height:					16px;
	top:					-8px;
	left:					-8px;
	z-index: 				5;
	border:					1px solid #CCC;
	background:				#EEE;
	border-radius: 				3px;
}
.noUi-handle > div:hover,
.noUi-handle > div.noUi-activeHandle {
	background:				#999;
	border-color:			#999;
	box-shadow: inset 0px 0px 1px 2px rgba(255,255,255,0.8);
}
.disabled > .noUi-midBar {
	background:				#999;
}
.disabled .noUi-handle > div {
	border-color:			#CCC;
	background:				#CCC;
}
@media (-webkit-min-device-pixel-ratio:1.2),-moz-touch-enabled,(max-device-width:1024px){
	.noUi-handle > div {
		height:				32px;
		width:				32px;
		top:				-13px;
		left:				-16px;
	}
}