<!DOCTYPE HTML>
<html lang="en">
<head>

<meta charset="utf-8">

<title>Assemblage: {% block extra_title %}{% endblock %}</title>

<meta name="keywords" content="Markets, Assemblages, Objects, London Markets, Mumbai Markets, Chor Bazaar, Canvas">
<meta name="title" content="Browse objects and build new ones"> 
<meta name="description" content="Build / Browse is a tool to browse through a database of objects from markets and other sources and create new objects from existing ones.">

<meta http-equiv="X-UA-Compatible" content="chrome=1"> <!-- chrome frame -->

<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- for multiple viewport sizes -->

{% block extra_meta %}

{% endblock %}

<link rel="shortcut icon" href="/static/img/favicon.ico" />
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" />

{% block extra_css %}

{% endblock %}


<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/nouislider.css" type="text/css" />
<link rel="stylesheet" href="/static/css/jquery-ui-1.10.0.custom.css"  type="text/css" />


<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

<script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script>

<script type="text/javascript" src="/static/js/nouislider.min.js"></script>

<script src="/static/js/base.js"></script>


{% block extra_js %}

{% endblock %}

</head>

<body {% block body_onload %} {% endblock %}>
    <noscript><strong>You need Javascript to run this page</strong></noscript>

    <div id="wrapper">
        {% block wrapper %}
        {% endblock %}    
    </div> <!-- end wrapper -->
  
</body>

</html>
