{% extends 'base.html' %}


	   {% block wrapper %}
               
                   <p id="logo">
        <a href="/test">build</a> / <a href="/browse">browse</a>
    </p>

<div id="browseMainDiv">


<p>This section incorporates the entire documentation of the project.</p>
<br>
<p>This documentation can be classified into:</p>
<br>
    <ul>
        <li><strong>Introduction</strong></li>
        <br>
        <li><strong>History</strong>
            <ul>
                <li>-  Library</li>
                <li>-  Museum</li>
                <li>-  Archival material</li>
            </ul>        
        </li>
        <br>
        <li><strong>Images</strong>
        <ul>
            <li>- drawings (existing)</li>
            <li>- photo-documentation (existing)</li>
        </ul>
        </li>
        <br>
        <li><strong>Text</strong>
        <ul>
            <li>- Writings</li>
            <li>-  Articles</li>
            <li><a href="http://periodicattractors.blogspot.co.uk">-  Blog</a></li>
        </ul>
        </li>
        <br>
        <li><strong>Interviews</strong></li>
        <br>
        <li><strong>Interactive media</strong></li>
        <br>
        <li><strong>Site-Visits</strong>
        <ul>
            <li>-  Video</li>
            <li>-  Photo-Documentation</li>
        </ul>
        </li>
    </ul>·
           
</div> <!-- end browse main div -->
{% endblock %}

