{% extends 'base.html' %}


    {% block extra_css %}
        <link rel="stylesheet" href="/static/css/select2.css" type="text/css" />
        <style type="text/css">

        </style>
    {% endblock %}

    {% block extra_js %}
    <!-- <script src="https://raw.github.com/kangax/fabric.js/master/dist/all.js"></script> -->
    <script type="text/javascript" src="/static/js/jquery-1.8.1.min.js"></script>
	<script src="/static/js/all.js"></script>
    <script type="text/javascript" src="/static/js/select2.js"></script>
    <script type="text/javascript" src="/static/js/new/fabric_test_new.js"></script>
    
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type='text/javascript' src='/static/js/drag_drop.js'></script>
    {% endblock %}

    
    
    {% block wrapper %}
        
        
    <p id="logo">
        <a href="/test">build</a> / <a href="/browse">brows<span>e</span></a>
    </p>
    
    <div id="editToolBlock">
        
            <div class="span4">
                <!--<span>Search &amp; sort</span>-->
                <input id="searchList" placeholder="Search..." type="text" />
                 <!-- <select multiple name="e9" id="e9" style="width:300px" class="populate"></select> -->
            </div> <!-- please delete unnecessary CSS later -->
            
            <div class="filterObjects">
                <input type="checkbox" id="objectFilter" /><label for="objectFilter">Objects</label>
                <input type="checkbox" id="fragmentFilter" /><label for="fragmentFilter">Fragments</label>
                <input type="checkbox" id="assemblageFilter" /><label for="assemblageFilter">Assemblages</label>
                <input type="checkbox" id="allFilter" /><label for="all">All</label>
            </div>
    <div class="clear"></div>
    
    <br/>
    
        <div id="listView">
 
        </div> <!-- end list view -->
    
       <div id="canvasView">
            <canvas id="c" style="width:500px;height:600px;">
            </canvas> <br />
            <div id="canvasControls">
                <p>Scale: <input type="range" id="scale" class="range" min="0" max="360" value="0" /></p>
                <div class="conversion">
                    <p class="cm">5cm</p>
                    <p class="px">50px</p>
                </div>
            </div>
            <div class="clear"></div>
      </div><!-- end canvas view -->
        
      <div class="clear"></div>
    
    </div> <!-- end edit tool block -->
    
    {% endblock %}
